In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
data_input = pd.read_excel('E:\\Graduate_Project\\IEEE ISI World Cup 2019\\competition1\\test\\年报-社保信息.xlsx')
display(data_input.head())

,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,...,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额,年报年份
0,4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
1,4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
2,4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
3,4001,666人,666人,666人,666人,666人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2016
4,4001,615人,615人,615人,615人,615人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2017

In [10]:
data = data_input[data_input['年报年份'].isin(['2016', '2017'])]
data.head()

,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,...,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额,年报年份
3,4001,666人,666人,666人,666人,666人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2016
4,4001,615人,615人,615人,615人,615人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2017
8,4002,288人,373人,373人,373人,373人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2016
9,4002,370人,370人,370人,370人,370人,企业选择不公示,企业选择不公示,企业选择不公示,NaN,...,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,企业选择不公示,2017
13,4003,468人,468人,468人,468人,468人,0.18198万元,0.18198万元,0.18198万元,NaN,...,18.2万元,127.4万元,23.7万元,18.2万元,0万元,0万元,0万元,0万元,0万元,2016

In [4]:
# data = data.dropna(how = 'all', thresh = 7).reset_index(drop = True)

In [11]:
data = data.replace({'选择不公示': np.nan})
data = data.replace({'企业选择不公示': np.nan})
data = data.replace({'万元': np.nan})
# data = data.dropna(how='any', axis=1, thresh=3800)
data

,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,...,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额,年报年份
3,4001,666人,666人,666人,666人,666人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,4001,615人,615人,615人,615人,615人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
8,4002,288人,373人,373人,373人,373人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
9,4002,370人,370人,370人,370人,370人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
13,4003,468人,468人,468人,468人,468人,0.18198万元,0.18198万元,0.18198万元,NaN,...,18.2万元,127.4万元,23.7万元,18.2万元,0万元,0万元,0万元,0万元,0万元,2016
14,4003,472人,472人,472人,472人,472人,7049万元,7049万元,7049万元,NaN,...,1.6778万元,15.0997万元,2.18107万元,0.167747万元,0万元,0万元,0万元,0万元,0万元,2017
18,4004,1120人,1120人,1121人,1120人,1120人,5923万元,5923万元,5928万元,NaN,...,97万元,666万元,39万元,30万元,0万元,0万元,0万元,0万元,0万元,2016
19,4004,1036人,1036人,1037人,1036人,1036人,5982万元,5982万元,5987万元,NaN,...,71万元,673万元,24万元,30万元,0万元,0万元,0万元,0万元,0万元,2017
23,4005,684人,678人,678人,678人,678人,211.106万元,211.106万元,211.106万元,NaN,...,37.0331万元,222.1803万元,24.6867万元,12.3464万元,0万元,0万元,0万元,0万元,0万元,2016
24,4005,700人,700人,700人,700人,700人,190.05万元,190.05万元,190.05万元,NaN,...,24.21万元,230.01万元,24.47万元,12.24万元,0万元,0万元,0万元,0万元,0万元,2017
28,4006,777人,777人,777人,777人,777人,2614.76万元,2614.76万元,2615.445万元,NaN,...,39.0672万元,300.773425万元,39.21008万元,13.0738万元,0万元,0万元,0万元,0万元,0万元,2016
29,4006,726人,726人,726人,726人,726人,2603.19万元,1743.93万元,2603.19万元,NaN,...,13.02万元,234.29万元,36.44万元,13.02万元,0万元,0万元,0万元,0万元,0万元,2017
33,4007,2280人,2280人,2281人,2280人,2280人,829.6835万元,829.6835万元,830.4435万元,NaN,...,116.2425万元,740.0215万元,89.4976万元,99.4417万元,0万元,0万元,0万元,0万元,0万元,2016
34,4007,2190人,2190人,2190人,2190人,2190人,812万元,812万元,812万元,NaN,...,0.002万元,65万元,7.3万元,0万元,0万元,0万元,0万元,0万元,0万元,2017
38,4003,468人,468人,468人,468人,468人,0.18198万元,0.18198万元,0.18198万元,NaN,...,18.2万元,127.4万元,23.7万元,18.2万元,0万元,0万元,0万元,0万元,0万元,2016
39,4003,472人,472人,472人,472人,472人,7049万元,7049万元,7049万元,NaN,...,1.6778万元,15.0997万元,2.18107万元,0.167747万元,0万元,0万元,0万元,0万元,0万元,2017
43,4008,236人,236人,236人,236人,236人,0.32万元,0.28万元,0.28万元,NaN,...,12.08万元,92.1万元,7.15万元,6.28万元,0万元,0万元,0万元,0万元,0万元,2016
44,4008,201人,201人,201人,201人,201人,0.30933万元,0.30933万元,0.30933万元,NaN,...,0.630514万元,6.305734万元,0.529608万元,0.44134万元,0万元,0万元,0万元,0万元,0万元,2017
48,4009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
49,4009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
53,4010,68人,68人,68人,68人,68人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
54,4010,69人,69人,69人,69人,69人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
58,4011,138人,138人,138人,138人,138人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
59,4011,121人,121人,121人,121人,121人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
63,4012,895人,895人,895人,895人,895人,415.39万元,415.39万元,415.39万元,NaN,...,45.66万元,319.61万元,49.31万元,22.83万元,0万元,0万元,0万元,0万元,0万元,2016
64,4012,832人,832人,832人,832人,832人,376.54万元,376.54万元,376.54万元,NaN,...,32.31万元,323万元,49.84万元,23.07万元,0万元,0万元,0万元,0万元,0万元,2017
68,4013,497人,497人,497人,497人,497人,4769.86万元,4769.86万元,4769.86万元,NaN,...,47.69万元,476.99万元,49.61万元,47.69万元,0万元,0万元,0万元,0万元,0万元,2016
69,4013,485人,485人,485人,485人,485人,3621.77万元,3621.77万元,3621.77万元,NaN,...,24.06万元,349.68万元,37.55万元,36.11万元,0万元,0万元,0万元,0万元,0万元,2017
73,4014,693人,693人,693人,693人,693人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
74,4014,554人,554人,554人,554人,554人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,4511,5人,5人,5人,5人,5人,12.0906万元,12.0906万元,12.0906万元,NaN,...,0.107226万元,0.857808万元,0.075058万元,0.053614万元,0万元,0万元,0万元,0万元,0万元,2016
2564,4511,5人,5人,5人,5人,5人,56.7076万元,56.7076万元,56.7076万元,NaN,...,0.52414万元,5.6222万元,0.39355万元,0.28111万元,0万元,0万元,0万元,0万元,0万元,2017
2568,4512,388人,388人,388人,388人,388人,1567.34万元,1567.34万元,1567.34万元,NaN,...,22.24万元,101.37万元,40.58万元,20.05万元,0万元,0万元,0万元,0万元,0万元,2016
2569,4512,501人,501人,501人,501人,501人,2563.87万元,2563.87万元,2563.87万元,NaN,...,15.8万元,185.81万元,6.54万元,13.09万元,0万元,0万元,0万元,0万元,0万元,2017
2573,4513,312人,312人,312人,312人,312人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2574,4513,301人,301人,301人,301人,301人,282.21万元,13.32万元,187.34万元,NaN,...,13.32万元,187.34万元,12.25万元,20.16万元,0万元,0万元,0万元,0万元,0万元,2017
2578,4514,885人,885人,885人,885人,885人,2499万元,2234万元,7013万元,NaN,...,11.17万元,67.12万元,8.48万元,12.65万元,0万元,0万元,0万元,0万元,0万元,2016
2579,4514,1049人,1049人,1049人,1049人,1049人,3406.0697万元,2427.486万元,8169.4947万元,NaN,...,36.095204万元,91.703547万元,16.692767万元,17.028607万元,0万元,0万元,0万元,0万元,0万元,2017
2583,4515,1157人,1157人,1157人,1157人,1157人,8443万元,8443万元,8443万元,NaN,...,91万元,776万元,21万元,76万元,0万元,0万元,0万元,0万元,0万元,2016
2584,4515,1260人,1260人,1260人,1260人,1260人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2588,4516,477人,477人,477人,477人,477人,1660.32576万元,1527.2116万元,1527.2116万元,NaN,...,14.893487万元,135.86638万元,8.937726万元,11.916992万元,0万元,0万元,0万元,0万元,0万元,2016
2589,4516,804人,804人,804人,804人,804人,3057.79万元,2981.27万元,2981.27万元,NaN,...,30.76万元,323.69万元,19.97万元,22.16万元,0万元,0万元,0万元,0万元,0万元,2017
2593,4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2594,4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2598,4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2599,4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2603,4519,9718人,9718人,9720人,9751人,9720人,30973.57万元,30973.57万元,40539.73万元,NaN,...,334.14万元,3191.42万元,386.75万元,209.29万元,0万元,0万元,0万元,0万元,0万元,2016
2604,4519,11981人,11980人,11979人,12008人,11970人,56889.332012万元,56239.088193万元,72582.442894万元,NaN,...,560.870996万元,7358.84256万元,730.799145万元,384.989832万元,0万元,0万元,0万元,0万元,0万元,2017
2608,4520,254人,254人,254人,254人,254人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2609,4520,391人,391人,391人,391人,391人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2613,4521,1543人,1543人,1543人,1543人,1543人,3258.37万元,3897.6万元,12309.01万元,NaN,...,54.28万元,759.99万元,19.46万元,19.9万元,0万元,0万元,0万元,0万元,0万元,2016
2614,4521,2096人,2096人,2095人,2096人,2095人,4679.348万元,4502.703万元,15387.3883万元,NaN,...,67.239902万元,96.421534万元,29.476257万元,23.384855万元,0万元,0万元,0万元,0万元,0万元,2017
2618,4522,238人,238人,238人,238人,238人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2619,4522,301人,301人,301人,301人,301人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2623,4523,667人,667人,667人,667人,667人,0万元,0万元,0万元,NaN,...,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,2016
2624,4523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2628,4524,2062人,2062人,2062人,2062人,2062人,0.000000万元,0.000000万元,0.000000万元,0.000000万元,...,7.140000万元,328.280000万元,5.710000万元,14.270000万元,1427.330000万元,1427.330000万元,1427.330000万元,NaN,1427.330000万元,2016
2629,4524,258人,258人,258人,258人,258人,0.000000万元,0.000000万元,0.000000万元,0.000000万元,...,10.510000万元,468.250000万元,8.400000万元,21.020000万元,2102.269000万元,2102.269000万元,2102.269000万元,NaN,2102.269000万元,2017
2633,4525,3072人,3072人,3072人,3072人,3072人,28493.45万元,7687.41万元,29625.12万元,NaN,...,107.62万元,2427.85万元,112.91万元,143.41万元,0万元,0万元,0万元,0万元,0万元,2016
2634,4525,3221人,3221人,3221人,3221人,3221人,29695.5万元,7695.77万元,30671.77万元,NaN,...,114.82万元,2514.49万元,187.09万元,148.41万元,0万元,0万元,0万元,0万元,0万元,2017

In [12]:
col_names = data.columns.tolist()
for col in col_names[1:-1]:
    print(col)
    data[col] = data[col].str.extract(r'(\d+)', expand=False)
display(data)

城镇职工基本养老保险人数
失业保险人数
职工基本医疗保险人数
工伤保险人数
生育保险人数
单位参加城镇职工基本养老保险缴费基数
单位参加失业保险缴费基数
单位参加职工基本医疗保险缴费基数
单位参加工伤保险缴费基数
单位参加生育保险缴费基数
参加城镇职工基本养老保险本期实际缴费金额
参加失业保险本期实际缴费金额
参加职工基本医疗保险本期实际缴费金额
参加工伤保险本期实际缴费金额
参加生育保险本期实际缴费金额
单位参加城镇职工基本养老保险累计欠缴金额
单位参加失业保险累计欠缴金额
单位参加职工基本医疗保险累计欠缴金额
单位参加工伤保险累计欠缴金额
单位参加生育保险累计欠缴金额

,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,...,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额,年报年份
3,4001,666,666,666,666,666,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,4001,615,615,615,615,615,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
8,4002,288,373,373,373,373,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
9,4002,370,370,370,370,370,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
13,4003,468,468,468,468,468,0,0,0,NaN,...,18,127,23,18,0,0,0,0,0,2016
14,4003,472,472,472,472,472,7049,7049,7049,NaN,...,1,15,2,0,0,0,0,0,0,2017
18,4004,1120,1120,1121,1120,1120,5923,5923,5928,NaN,...,97,666,39,30,0,0,0,0,0,2016
19,4004,1036,1036,1037,1036,1036,5982,5982,5987,NaN,...,71,673,24,30,0,0,0,0,0,2017
23,4005,684,678,678,678,678,211,211,211,NaN,...,37,222,24,12,0,0,0,0,0,2016
24,4005,700,700,700,700,700,190,190,190,NaN,...,24,230,24,12,0,0,0,0,0,2017
28,4006,777,777,777,777,777,2614,2614,2615,NaN,...,39,300,39,13,0,0,0,0,0,2016
29,4006,726,726,726,726,726,2603,1743,2603,NaN,...,13,234,36,13,0,0,0,0,0,2017
33,4007,2280,2280,2281,2280,2280,829,829,830,NaN,...,116,740,89,99,0,0,0,0,0,2016
34,4007,2190,2190,2190,2190,2190,812,812,812,NaN,...,0,65,7,0,0,0,0,0,0,2017
38,4003,468,468,468,468,468,0,0,0,NaN,...,18,127,23,18,0,0,0,0,0,2016
39,4003,472,472,472,472,472,7049,7049,7049,NaN,...,1,15,2,0,0,0,0,0,0,2017
43,4008,236,236,236,236,236,0,0,0,NaN,...,12,92,7,6,0,0,0,0,0,2016
44,4008,201,201,201,201,201,0,0,0,NaN,...,0,6,0,0,0,0,0,0,0,2017
48,4009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
49,4009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
53,4010,68,68,68,68,68,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
54,4010,69,69,69,69,69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
58,4011,138,138,138,138,138,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
59,4011,121,121,121,121,121,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
63,4012,895,895,895,895,895,415,415,415,NaN,...,45,319,49,22,0,0,0,0,0,2016
64,4012,832,832,832,832,832,376,376,376,NaN,...,32,323,49,23,0,0,0,0,0,2017
68,4013,497,497,497,497,497,4769,4769,4769,NaN,...,47,476,49,47,0,0,0,0,0,2016
69,4013,485,485,485,485,485,3621,3621,3621,NaN,...,24,349,37,36,0,0,0,0,0,2017
73,4014,693,693,693,693,693,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
74,4014,554,554,554,554,554,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,4511,5,5,5,5,5,12,12,12,NaN,...,0,0,0,0,0,0,0,0,0,2016
2564,4511,5,5,5,5,5,56,56,56,NaN,...,0,5,0,0,0,0,0,0,0,2017
2568,4512,388,388,388,388,388,1567,1567,1567,NaN,...,22,101,40,20,0,0,0,0,0,2016
2569,4512,501,501,501,501,501,2563,2563,2563,NaN,...,15,185,6,13,0,0,0,0,0,2017
2573,4513,312,312,312,312,312,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2574,4513,301,301,301,301,301,282,13,187,NaN,...,13,187,12,20,0,0,0,0,0,2017
2578,4514,885,885,885,885,885,2499,2234,7013,NaN,...,11,67,8,12,0,0,0,0,0,2016
2579,4514,1049,1049,1049,1049,1049,3406,2427,8169,NaN,...,36,91,16,17,0,0,0,0,0,2017
2583,4515,1157,1157,1157,1157,1157,8443,8443,8443,NaN,...,91,776,21,76,0,0,0,0,0,2016
2584,4515,1260,1260,1260,1260,1260,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2588,4516,477,477,477,477,477,1660,1527,1527,NaN,...,14,135,8,11,0,0,0,0,0,2016
2589,4516,804,804,804,804,804,3057,2981,2981,NaN,...,30,323,19,22,0,0,0,0,0,2017
2593,4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2594,4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2598,4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2599,4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2603,4519,9718,9718,9720,9751,9720,30973,30973,40539,NaN,...,334,3191,386,209,0,0,0,0,0,2016
2604,4519,11981,11980,11979,12008,11970,56889,56239,72582,NaN,...,560,7358,730,384,0,0,0,0,0,2017
2608,4520,254,254,254,254,254,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2609,4520,391,391,391,391,391,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2613,4521,1543,1543,1543,1543,1543,3258,3897,12309,NaN,...,54,759,19,19,0,0,0,0,0,2016
2614,4521,2096,2096,2095,2096,2095,4679,4502,15387,NaN,...,67,96,29,23,0,0,0,0,0,2017
2618,4522,238,238,238,238,238,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2619,4522,301,301,301,301,301,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2623,4523,667,667,667,667,667,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,2016
2624,4523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2628,4524,2062,2062,2062,2062,2062,0,0,0,0,...,7,328,5,14,1427,1427,1427,NaN,1427,2016
2629,4524,258,258,258,258,258,0,0,0,0,...,10,468,8,21,2102,2102,2102,NaN,2102,2017
2633,4525,3072,3072,3072,3072,3072,28493,7687,29625,NaN,...,107,2427,112,143,0,0,0,0,0,2016
2634,4525,3221,3221,3221,3221,3221,29695,7695,30671,NaN,...,114,2514,187,148,0,0,0,0,0,2017

In [13]:
data = data.loc[:,['企业编号', '城镇职工基本养老保险人数']]
data['城镇职工基本养老保险人数'] = pd.DataFrame(data['城镇职工基本养老保险人数'], dtype=float)
data

      企业编号  城镇职工基本养老保险人数
3     4001         666.0
4     4001         615.0
8     4002         288.0
9     4002         370.0
13    4003         468.0
14    4003         472.0
18    4004        1120.0
19    4004        1036.0
23    4005         684.0
24    4005         700.0
28    4006         777.0
29    4006         726.0
33    4007        2280.0
34    4007        2190.0
38    4003         468.0
39    4003         472.0
43    4008         236.0
44    4008         201.0
48    4009           NaN
49    4009           NaN
53    4010          68.0
54    4010          69.0
58    4011         138.0
59    4011         121.0
63    4012         895.0
64    4012         832.0
68    4013         497.0
69    4013         485.0
73    4014         693.0
74    4014         554.0
...    ...           ...
2563  4511           5.0
2564  4511           5.0
2568  4512         388.0
2569  4512         501.0
2573  4513         312.0
2574  4513         301.0
2578  4514         885.0
2579  4514        1049.0
2583  4515        1157.0
2584  4515        1260.0
2588  4516         477.0
2589  4516         804.0
2593  4517           NaN
2594  4517           NaN
2598  4518           NaN
2599  4518           NaN
2603  4519        9718.0
2604  4519       11981.0
2608  4520         254.0
2609  4520         391.0
2613  4521        1543.0
2614  4521        2096.0
2618  4522         238.0
2619  4522         301.0
2623  4523         667.0
2624  4523           NaN
2628  4524        2062.0
2629  4524         258.0
2633  4525        3072.0
2634  4525        3221.0

[1052 rows x 2 columns]

In [14]:
data = data.groupby('企业编号').mean()
data = data.reset_index()
data

     企业编号  城镇职工基本养老保险人数
0    4001         640.5
1    4002         329.0
2    4003         470.0
3    4004        1078.0
4    4005         692.0
5    4006         751.5
6    4007        2235.0
7    4008         218.5
8    4009           NaN
9    4010          68.5
10   4011         129.5
11   4012         863.5
12   4013         491.0
13   4014         623.5
14   4015          41.5
15   4016         374.0
16   4017         441.5
17   4018         298.0
18   4019         563.0
19   4020        1122.0
20   4021         624.0
21   4022         381.5
22   4023         198.0
23   4024         229.0
24   4025         541.5
25   4026           NaN
26   4027         403.0
27   4028         478.0
28   4029         909.5
29   4030           NaN
..    ...           ...
493  4496         390.5
494  4497         264.0
495  4498         420.5
496  4499         145.0
497  4500        1164.5
498  4501         673.0
499  4502         246.5
500  4503         667.5
501  4504         972.0
502  4505           NaN
503  4506         132.0
504  4507           NaN
505  4508         189.5
506  4509        1137.0
507  4510           8.5
508  4511           5.0
509  4512         444.5
510  4513         306.5
511  4514         967.0
512  4515        1208.5
513  4516         640.5
514  4517           NaN
515  4518           NaN
516  4519       10849.5
517  4520         322.5
518  4521        1819.5
519  4522         269.5
520  4523         667.0
521  4524        1160.0
522  4525        3146.5

[523 rows x 2 columns]

In [16]:
data_out = pd.read_excel('E:\\Graduate_Project\\IEEE ISI World Cup 2019\\competition1\\赛题1结果_团队名.xlsx')
data_out = pd.merge(data_out, data, how='left')
data_out.head()

   企业编号  城镇职工基本养老保险人数
0  4001         640.5
1  4002         329.0
2  4003         470.0
3  4004        1078.0
4  4005         692.0

In [19]:
data_out.isna().sum()

企业编号            0
城镇职工基本养老保险人数    0
dtype: int64

In [18]:
data_out.fillna(data_out.median(), inplace=True)
data_out.head()

   企业编号  城镇职工基本养老保险人数
0  4001         640.5
1  4002         329.0
2  4003         470.0
3  4004        1078.0
4  4005         692.0

In [20]:
data_out.to_excel('年报-社保信息_特征.xlsx', index=False)